{% extends 'layout.html' %}
{% block title %}Dz Coders - Home{% endblock %}

{% block content %}

<div class="row mt-3 ml-3">
    <div class="col-3">
        <iframe src="https://discord.com/widget?id=743969689033638011&theme=dark&username={{ user.discord_tag }}" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </div>

    <div class="col-5">
        <h1>🎯 Welcome To Dz Coders: </h1>
        <p>A Dz Server Which Contain All Algerians Coders In One Place To Communicate More Easily.</p>
        <br>
        <div>
        <p>
            <strong>1. Join Our Server <a href="https://discord.gg/2kewKVdz4Q">Dz Squad</a> To: </strong>
            <br>
            • Get More Contacts.
            <br>
            • Ask Other Questions.
            <br>
            • Discover New Things.
        </p>
        </div>
        <br>
        <div>
            <p>
                <strong>2. Respect The Rules: </strong>
                <br>
                • Get Respected.
                <br>
                • D'ont Get Banned.
                <br>
                • To Avoid Problems.
            </p>
            </div>
    </div>
</div> 

{% endblock %}
