{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Fonts Link -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

        <!-- Additional CSS Files -->
        <link rel="stylesheet" href="{% static 'assets/css/templatemo-stand-blog.css' %}">
        {% block link %} {% endblock %}
        <title>
        {% block title %}Dz Coders{% endblock %}
        </title>
    </head>
  <body>

        <section id="navbar">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <img src="https://i.pinimg.com/originals/bc/cd/d4/bccdd46d76e7f565448ba54c935b20a9.jpg" alt="" height="50" width="70" class="rounded mr-2">
              <a class="navbar-brand">Dz Coders</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto pl-4">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home<span class="sr-only">(current)</span></a>
                  </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'add_project' %}">+ Project<span class="sr-only"></span></a>
                    </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'project' %}">Project<span class="sr-only"></span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'rules' %}">Rules</a>
                    </li>
                </ul>
                
                {% if user.is_authenticated %}

                  <div class="dropdown" class="mr-3">
                    <a role="button" id="dropleftMenuLink" class="col-8" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {% if user.prof.image %}

                        <img src="{{ request.user.prof.image.url }}" alt="" height="30" width="30" class="rounded-circle" />

                      {% endif %}

                      {{ user.username }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                      <a class="dropdown-item">

                        {{ user.username }}

                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" type="button" href="{% url 'profile' request.user.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-person-fill" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-1 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm-3 4c2.623 0 4.146.826 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1.245C3.854 11.825 5.377 11 8 11z"/>
                        </svg> Profile
                      </a>
                      <a class="dropdown-item" type="button" href="{% url 'myprofile' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-person-fill" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-1 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm-3 4c2.623 0 4.146.826 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1.245C3.854 11.825 5.377 11 8 11z"/>
                        </svg> My Profile
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'logout' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-closed-fill" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M4 1a1 1 0 0 0-1 1v13H1.5a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2a1 1 0 0 0-1-1H4zm2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                        </svg>
                        Logout
                      </a>
                    </div>
                    
                  </div>
                {% else %}

                    <a href="{% url 'login' %}">Login</a>
                    <div class="col-1"></div>
                    <a href="{% url 'register' %}">Register</a>

                {% endif %}

              </div>
            </nav>
        </section>

        {% for message in messages %}

        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <strong>Anouncement: </strong>{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>

       {% endfor %}

          {% block content %}
    
          {% endblock %}

        <script src="https://kit.fontawesome.com/4e1127a542.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
      </body>
</html>