{% extends 'layout.html' %}

{% block title %}Dz Coders - Rules{% endblock %}

{% block content %}

<div id="rules_list" style="text-align: left;" class="border m-3 p-3">
    <h1 class="mb-4">📌 Discord Rules:</h1>
    <ol>
        <li>
            <p><strong>No Racism/Hate Speech</strong><br>
            • Racism, sexism, etc. will not be tolerated in this server.<br>
            • Also keep custom statuses clean. If the status breaks TOS we will kick you. </p>
        </li>
        <li>
            <p><strong>Do not send Malicious Content.</strong><br>
            • Sending/Linking any harmful material such as viruses, IP grabbers, etc. will result in an immediate and permanent ban.<br>
            • Any discussions regarding development of malicious software will also result in immediate punishment with no warning. <br>
            • We ask that you do not upload python files when sharing your code. Stick to web-services such as <a href="https://hastebin.com/">https://hastebin.com/</a>, Mystbin or python-discords: <a href="https://paste.pythondiscord.com/">https://paste.pythondiscord.com/</a></p>
        </li>
        <br>
        <li>
            <p><strong>No NSFW in any of the chats.</strong><br>
            • Please keep anything NSFW out of this server.</p>
        </li>
        <br>
        <li>
            <p><strong>No spreading/leaking Personal Information.</strong><br>
            • Please do not threaten or attempt to dox any members of this server.<br>
            • It is against Discord TOS and will result in a permanent ban from this server.</p>
        </li>
        <br>
        <li>
            <p><strong>No Advertising.</strong><br>
            • This goes for Twitch, Discord, YouTube, etc.<br>
            • If your main purpose is to come to this server and Advertise you will be banned.</p>
        </li>
        <br>
        <li>
            <p><strong>No Punishment Evasion.</strong><br>
            • Do not attempt to evade any punishment you receive.<br>
            • If you are caught doing it, it will result in a kick/ban.</p>
        </li>
        <br>
        <li>
            <p><strong>Refrain from any conversations discussing politics, etc.</strong><br>
            • This is a coding discord, not a politics discord.<br>
            • If you &amp; another member want to speak about topics related to politics, you can talk about it in #random-chat or DM’s.</p>
            </li>
            <li>
            <p><strong>Please speak English in this server.</strong></p>
        </li>
        <br>
        <li>
            <p><strong>Please respect Discord’s Terms of Service.</strong><br>
            • Anything that breaks these terms will not be tolerated and will result in a ban. <br>
            <a href="https://discord.com/terms">https://discord.com/terms</a><br>
            <a href="https://discord.com/guidelines">https://discord.com/guidelines</a></p>
        </li>
    </ol>
    <p>Also, please do not ping EnimaX.</p>
    <p>These are the Servers rules and they will be enforced.</p>
</div>

{% endblock %}
